.overflow-y-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.border-radius-1 {
  border-radius: 4px !important;
}
.border-radius-2 {
  border-radius: 8px !important;
}
.border-radius-3 {
  border-radius: 12px !important;
}
.border-radius-4 {
  border-radius: 16px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.max-width-none {
  max-width: none !important;
}
.bg-primary{
  background-color: var(--brand200) !important;
}
.bg-gray7{
  background-color: var(--gray7) !important;
}
.conter-content{
  display: flex;
  align-items: center;
  justify-content: center;
}