#wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background: var(--gray7);
}

#main {
  padding-top: $navbar-height;
}

#container {
  flex-grow: 1;
  position: relative;
  // width: calc(100% - 60px);
  background-color: $gray7;
  padding-left: 60px;
}

.row > * {
  min-width: 0;
}
.main-content {
  padding: 32px;
}
@include media-breakpoint-up(sm) {
  .hstack > * {
    flex: 0 0 auto;
    width: auto;
  }
}
