.page-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 1.5rem;
  nav {
    margin-left: auto;
  }
  .page-title {
    @include typography(32px, 700);
    margin-bottom: 0;
  }
}
