<header id="header">
  <div class="header-top">
    <div class="left-content">
      <p>계약기간: <span>2022년 5월 1일 ~ 2024년 4월 30일</span></p>
      <p>next update <span>2024/04/29</span> <span class="d-day">D-256</span> </p>
      <p class="badge">갱신</p>
    </div>
    <div class="right-content">
      <select class="form-select language" aria-label="Default select example">
        <option selected>KOR</option>
        <option value="1">ENG</option>
      </select>
      <a href="" class="my-info-link">내 정보 <i class="icon-people"></i></a>
    </div>
  </div>
  <div class="header-gnb">
    <div class="d-flex align-items-center h-100">
      <div class="logo">
        <img src="@@webRoot/assets/images/logo.svg" alt="smartkeeper">
      </div>
      <ul class="gnb">
        <li class="active">
          <a href="">제품정보</a>
          <ul class="gnb-depth">
            <li>
              <a href="">PRO</a>
            </li>
            <li>
              <a href="">ESS</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">제품소식</a>
          <ul class="gnb-depth">
            <li>
              <a href="">신제품 출시</a>
            </li>
            <li>
              <a href="">제품 개선(형상변경)</a>
            </li>
            <li>
              <a href="">제품 단종</a>
            </li>
            <li>
              <a href="">제품 인증관련</a>
            </li>
            <li>
              <a href="">기타</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">마케팅 소식</a>
          <ul class="gnb-depth">
            <li>
              <a href="">프로모션</a>
            </li>
            <li>
              <a href="">판매정책</a>
            </li>
            <li>
              <a href="">Case Study</a>
            </li>
            <li>
              <a href="">기타</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">자료실</a>
          <ul class="gnb-depth">
            <li>
              <a href="">제품관련 자료</a>
            </li>
            <li>
              <a href="">마케팅관련 자료</a>
            </li>
            <li>
              <a href="">기타</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">요청 게시판</a>
          <ul class="gnb-depth">
            <li>
              <a href="">영업관련 요청</a>
            </li>
            <li>
              <a href="">제품 개발 요청</a>
            </li>
            <li>
              <a href="">패턴 및 제품 추가요청</a>
            </li>
            <li>
              <a href="">기타문의</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-brand">
      @@if (context.dep1 !== 'Dashboard'){
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">@@dep1</li>
          @@if (context.dep2){
          <li class="breadcrumb-item" aria-current="page">@@dep2</li>
          }
        </ol>
      </nav>
      }
    </div>
  </div>
</header>