<!--  pc Nav -->
<nav id="navbar">
  <ul class="nav nav-tabs none-border" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#panel1" type="button" role="tab" aria-controls="panel1" aria-selected="true">Tab 1</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#panel2" type="button" role="tab" aria-controls="panel2" aria-selected="false">Tab 2</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab3" data-bs-toggle="tab" data-bs-target="#panel3" type="button" role="tab" aria-controls="panel3" aria-selected="false">Tab 3</button>
    </li>
  </ul>
</nav>