<aside id="sidebar">
  <div class="vstack gap-4 gap-lg-9">
    <div class="sidebar-logo">
      <a href="@@webRoot/html/pages/dashboard/dashboard.html" class="img">
        <img src="@@webRoot/assets/images/logo.svg" alt="">
      </a>
    </div>
    <nav class="sidebar-nav" id="sidevarNav">
      <ul>
        <li class="sidebar-item">
          <a href="" class="sidebar-link @@if (context.dep1 === '회원관리') {active}" aria-expanded="@@if (context.dep1 === '회원관리') {true}">
            <span>회원관리</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link @@if (context.dep1 === '파트너사 설정 관리') {active}" aria-expanded="@@if (context.dep1 === '파트너사 설정 관리') {true}">
            <span>파트너사 설정 관리</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" data-bs-target="#gnb-product" data-bs-toggle="collapse" class="sidebar-link @@if (context.dep1 === '상품관리') {active}" aria-expanded="@@if (context.dep1 === '상품관리') {true}"> <!-- 펼쳐짐: aria-expanded="true" / 현재메뉴: .active -->
            <span>상품관리</span>
          </a>
          <div id="gnb-product" data-bs-parent="#sidevarNav" class="accordion-collapse collapse @@if (context.dep1 === '상품관리') {show}"> <!-- 펼쳐짐: .show -->
            <div class="depth2-heading">상품관리</div>
            <ul class="depth2">
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '상품 등록 및 수정') {active}">상품 등록 및 수정</a> <!-- 현재메뉴: .active -->
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '상품 패턴 등록') {active}">상품 패턴 등록</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '상품그룹생성 및 수정') {active}">상품그룹생성 및 수정</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '상품 가격표 생성 입력') {active}">상품 가격표 생성 입력</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '상품 가격 조회') {active}">상품 가격 조회</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link @@if (context.dep1 === '발주관리​') {active}" aria-expanded="@@if (context.dep1 === '발주관리​') {true}">
            <span>발주관리​</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link @@if (context.dep1 === '입고관리​') {active}" aria-expanded="@@if (context.dep1 === '입고관리​') {true}">
            <span>입고관리​</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link @@if (context.dep1 === '위탁관리') {active}" aria-expanded="@@if (context.dep1 === '위탁관리') {true}">
            <span>위탁관리</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link @@if (context.dep1 === '​정산관리') {active}" aria-expanded="@@if (context.dep1 === '​정산관리') {true}">
            <span>​정산관리</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" data-bs-target="#gnb-notice-board" data-bs-toggle="collapse" class="sidebar-link @@if (context.dep1 === '게시판 관리') {active}" aria-expanded="@@if (context.dep1 === '게시판 관리') {true}">
            <span>게시판 관리</span>
          </a>
          <div id="gnb-notice-board" data-bs-parent="#sidevarNav" class="accordion-collapse collapse @@if (context.dep1 === '게시판 관리') {show}"> <!-- 펼쳐짐: .show -->
            <div class="depth2-heading">게시판 관리</div>
            <ul class="depth2">
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '제품 정보') {active}">제품 정보</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '마케팅 소식') {active}">마케팅 소식</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '요청 게시판') {active}">요청 게시판</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '상품 문의') {active}">상품 문의</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-item">
          <a href="#" data-bs-target="#gnb-etc" data-bs-toggle="collapse" class="sidebar-link @@if (context.dep1 === '기타 조회 및 수정') {active}" aria-expanded="@@if (context.dep1 === '기타 조회 및 수정') {true}">
            <span>기타 조회 및 수정</span>
          </a>
          <div id="gnb-etc" data-bs-parent="#sidevarNav" class="accordion-collapse collapse @@if (context.dep1 === '기타 조회 및 수정') {show}"> <!-- 펼쳐짐: .show -->
            <div class="depth2-heading">기타 조회 및 수정</div>
            <ul class="depth2">
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '제품 정보') {active}">제품 정보</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '마케팅 소식') {active}">마케팅 소식</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-item">
          <a href="#" data-bs-target="#gnb-system" data-bs-toggle="collapse" class="sidebar-link @@if (context.dep1 === '시스템 설정') {active}" aria-expanded="@@if (context.dep1 === '기타 조회 및 수정') {true}">
            <span>시스템 설정</span>
          </a>
          <div id="gnb-system" data-bs-parent="#sidevarNav" class="accordion-collapse collapse @@if (context.dep1 === '시스템 설정') {show}"> <!-- 펼쳐짐: .show -->
            <div class="depth2-heading">시스템 설정</div>
            <ul class="depth2">
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '제품 정보') {active}">제품 정보</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '마케팅 소식') {active}">마케팅 소식</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-item">
          <a href="#" data-bs-target="#gnb-myinfo" data-bs-toggle="collapse" class="sidebar-link @@if (context.dep1 === '​내 정보 보기') {active}" aria-expanded="@@if (context.dep1 === '내 정보 보기') {true}">
            <span>내 정보 보기</span>
          </a>
          <div id="gnb-myinfo" data-bs-parent="#sidevarNav" class="accordion-collapse collapse @@if (context.dep1 === '내 정보 보기') {show}"> <!-- 펼쳐짐: .show -->
            <div class="depth2-heading">내 정보 보기</div>
            <ul class="depth2">
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '제품 정보') {active}">제품 정보</a>
              </li>
              <li class="sidebar-item">
                <a href="" class="sidebar-link @@if (context.dep2 === '마케팅 소식') {active}">마케팅 소식</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-item">
          <a href="@@webRoot/html/pages/keeper/admin-id/id-management.html" class="sidebar-link @@if (context.dep1 === '관리자 ID 관리') {active}" aria-expanded="@@if (context.dep1 === '관리자 ID 관리') {true}">
            <span>관리자 ID 관리</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>